.login{
    font-family: "Arimo" sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 20%;
    color: rgb(31, 8, 122);
}
h1{
    display: flex;
    justify-content: center;
}
input{
    background-color: rgb(243, 231, 218);
    padding: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: fantasy;
    border-radius: 20%;
}
button{
    background-color: rgb(27, 214, 189);
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 50px;
}

button:hover{
    background-color: rgb(8, 83, 91);
    cursor: pointer;
}


.gradient {
	width: 150vw;
	height: 150vh;
	background: linear-gradient(334deg, #4f11ac, #b10a7a, #f44e07);
	background-size: 180% 180%;
	animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 100% 500%;
	}
	50% {
		background-position: 100% 500%;
	}
	100% {
		background-position: 100% 500%;
	}
}
